<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Personal Blog</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <h1>Personal Blog</h1>
    <ul>
      {% for article in articles %}
      <li class="header-artikel">
        <a href="/article/{{ article['id'] }}"
          ><h2>{{ article['judul'] }}</h2></a
        >
        <h3>{{ date(article['created_at']) }}</h3>
      </li>
      {% endfor %}
    </ul>
  </body>
</html>
